.logo{
    max-width: 110px;
    padding: 10px;
    
}
.header{
    background-color: rgb(85, 22, 22);
}

.main{
    background-color: rgb(27, 29, 28);
   
}
.menu-cabecalho > a{
    color: white;
}
.destaques{
    color: rgb(177, 177, 177);
}

.avaliacoes{
    color: rgb(177, 177, 177);
}

.video1{
    width: 100%;
    height: 100%;
}

.informacoes-filme{

    color: white;
    
    
}

.novidades{
    color: rgb(177, 177, 177);
}

.noticias{
    text-decoration: none;
    color: black;
}

.logo2{
 max-width: 120px;
 padding: 20px;
}


.item1{
    background-color:  rgb(5, 53, 68);
}
.item2{
    background-color:  rgb(5, 53, 68);
}
.item3{
    background-color:  rgb(5, 53, 68);
}
.item4{
    background-color:  rgb(5, 53, 68);
}

.lancamentos{
    color: white;
  
}

.twtt{
    margin: 10px ;
}

.fb{
    margin: 10px;
}

.ig{
    margin: 10px;
}

.footer{
    background-color: rgb(85, 22, 22);
}
.rodape{
    color: white;
}
@media screen and (max-width:330px){

    .logo2{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .video{
        height: 464px;
    }
}

@media screen and (max-width: 991px){
    .search-bar{
        display: none;
    }
}
