.logo{
    max-width: 110px;
    padding: 10px;
    
}
.header{
    background-color: rgb(175, 74, 74);
}

.main{
    background-color: rgb(69, 105, 89);
   
}
.menu-cabecalho > a{
    color: white;
}
.destaques > a{
    color: rgb(34, 31, 31);
}
.categorias > a{
    color: rgb(34, 31, 31);
}

.informacoes-filme{

    color: white;
    
    
}

.noticias{
    text-decoration: none;
    color: black;
}

.logo2{
 max-width: 120px;
 padding: 20px;
}
.card-img-top{

    margin-right: 15px;
}

.item1{
    background-color:  rgb(69, 105, 89);
}

.lancamentos{
    color: white;
  
}
.footer{
    background-color: rgb(175, 74, 74);
}
.rodape{
    color: white;
}
