@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.logo{
    max-width: 110px;
    padding: 10px;
    
}
body{
    background-color: rgb(85, 22, 22);
}



.search:focus {
    outline: none;
    background-color: rgb(143, 19, 19);
    
}
.lancamentos{
     
    margin-left: 20px;
    color: white;
}


.search::placeholder {
    color: rgb(255, 255, 255);
}

main {
    background-color: rgb(27, 29, 28);
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: left;
    
}

.logo2{
    max-width: 120px;
    padding: 20px;
   }
   
.footer{
    background-color: rgb(85, 22, 22);
}
.rodape{
    color: white;
}

.search {
    background-color: transparent; 
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    border: solid 2px rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    
}
.movie {
    background-color: rgb(85, 22, 22);
    
    
    margin: 1rem;
    width: 300px;
    text-align: justify;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}
.movie img {
    width: 100%;
}

.movie-info {
   
    letter-spacing: 0.7px;   
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}


.movie-info span {
    background-color:  #ffffff;
    border-radius: 3px;
    margin-left: 20px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info h3 {
    margin: 0;
    text-decoration: none;
}


.overview {
    color: #ffffff;
    background-color: rgba(85, 22, 22, 0.932);
    
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
    
    padding: 2rem;
    position: absolute;
    right: 0;
}
.movie-info span.green {
    color: rgb(0, 114, 0);
}

.movie-info span.orange {
    color: rgb(196, 130, 9);
}

.movie-info span.red {
    color: rgb(170, 5, 5);
}


.overview h3 {
    margin-top: 0;
}

#main{
    display: flex;
    flex-wrap: wrap;
}


.movie:hover .overview {
    transform: translateY(0);
}


@media screen and (max-width:330px){

    .logo2{
        display: none;
    }
}

@media screen and (max-width:395px){

    .logo{ align-items: center; }
}

@media screen and (max-width:330px){

    .rodape{
        text-align: center;
    }
}
